<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="~/Scripts/myScript.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm nav-custom">
        <a class="navbar-brand" href="#">Logo</a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link-custom dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-bars"></i>
                    Danh mục
                </a>
                <div class="dropdown-menu dropdown-custom">
                    <a class="dropdown-item item-custom" href="@Url.Action("Index", "Menu")">
                        <img src="~/Content/Image/food-25.png" />
                        Món ăn
                    </a>
                    <a class="dropdown-item item-custom" href="#">Link 2</a>
                    <a class="dropdown-item item-custom" href="#">Link 3</a>
                </div>
            </li>
        </ul>
    </nav>
    @{
        <div class="row">
            <div class="col-md-12" style="padding:10px">
                @RenderBody()
            </div>
        </div>
    }


    <div id="imgModal" class="modal">
        <img class="modal-content-image" id="imgZoom">
        <div class="caption" id="caption"></div>
        <div class="caption" style="font-style:italic">(Click một lần nữa để đóng)</div>
    </div>

    <div id="formModal" class="modal-form">
        <span id="close" class="close">&times;</span>
        <div class="modal-content" id="modelContent"></div>
    </div>

    <footer class="fixed-bottom">
        <p>&copy; @DateTime.Now.Year - My Application</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $("#imgModal").click(function () {
        $(this).css({ display: "none" });
    });

    $("#close").click(function () {
        $("#formModal").css({ display: "none" });
    });
</script>

