
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12 text-left" id="form">
    <label class="my-title">
        <img src="~/Content/Image/search-55.png" />
        Tìm kiếm đồ ăn/uống
    </label>
    <div class="my-body">
        <input class="textbox-custom-search" id="myInput" type="text" placeholder="Tìm kiếm...">
        <table class="table table-borderless space-row">
            <thead>
                <tr class="d-flex">
                    <th class="col-1">STT</th>
                    <th class="col-1">Mã món</th>
                    <th class="col-3">Tên món</th>
                    <th class="col-2">Giá tiền</th>
                    <th class="col-1">Đồ ăn</th>
                    <th class="col-1">Đồ uống</th>
                    <th class="col-3">Ghi chú</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr style="display:flex">
                    <th class="col-1 normal">1</th>
                    <th class="col-1 normal">D001</th>
                    <th class="col-3 normal">Cà phê sữa</th>
                    <th class="col-2 normal">20,000</th>
                    <th class="col-1 normal">
                    </th>
                    <th class="col-1 normal" style="margin-left:7px">
                        <img src="~/Content/Image/checkmark-24.png" />
                    </th>
                    <th class="col-3 normal">Cà phê + sữa + đá</th>
                </tr>
                <tr  style="display:flex">
                    <th class="col-1 normal">1</th>
                    <th class="col-1 normal">D002</th>
                    <th class="col-3 normal">Cà phê đen đá/nóng</th>
                    <th class="col-2 normal">15,000</th>
                    <th class="col-1 normal">

                    </th>
                    <th class="col-1 normal" style="margin-left:7px">
                        <img src="~/Content/Image/checkmark-24.png" />
                    </th>
                    <th class="col-3 normal">Cà phê + đường + đá</th>
                </tr>
                <tr  style="display:flex">
                    <th class="col-1 normal">3</th>
                    <th class="col-1 normal">D003</th>
                    <th class="col-3 normal">Trà xanh matcha</th>
                    <th class="col-2 normal">25,000</th>
                    <th class="col-1 normal">
                    </th>
                    <th class="col-1 normal" style="margin-left:7px">
                        <img src="~/Content/Image/checkmark-24.png" />
                    </th>
                    <th class="col-3 normal">Trà xanh matcha Nhật Bản + sữa tươi</th>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            debugger;
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                debugger;
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>



